</main>
<footer>Copyright © <%= new Date().getFullYear() %>
</footer>
</body>
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.8/axios.min.js"></script>
<script type="module" src="/js/header.js"></script>
<script type="module" src="/js/new.js"></script>