<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Duru+Sans&family=Overpass:ital,wght@0,100..900;1,100..900&family=Rambla:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <title>SHELFWISE</title>
    <!-- Toastr -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"
    />
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"
    ></script>
  </head>

  <body>
    <main>
      <nav>
        <div class="nav-header">
          <a id="navIcon" href="/">SHELFWISE</a>
          <button id="menu-toggle" aria-label="Toggle Menu">
            <span id="open-icon">
              <img
                src="/icons/menuOpen.png"
                alt="Open Menu Icon"
                class="menuIcon"
              />
            </span>
            <span id="close-icon" style="display: none">
              <img
                src="/icons/menuClose.png"
                alt="Close Menu Icon"
                class="menuIcon"
              />
            </span>
          </button>
        </div>
        <ul id="menu">
          <li><a href="/new-review">New</a></li>
          <li><a href="/anticipated">Anticipated</a></li>
          <li><a href="/read-later">Read Later</a></li>
          <li><a href="/streak">Streak</a></li>
        </ul>
      </nav>
   