<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Duru+Sans&family=Overpass:ital,wght@0,100..900;1,100..900&family=Rambla:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <title>ShelfWise</title>
    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link rel="icon" type="image/png" href="../icons/SHELFWISEICON.png" />

    <!-- styles -->
    <% if (styles && styles.length > 0) { %> <% styles.forEach((css) => { %>
    <link rel="stylesheet" href="<%= css %>" />
    <% }) %> <% } %>

    <!-- Toastify CSS -->
    <link rel="stylesheet" href="/toastify/toastify.css" />
</script>
  </head>

  <body>
    <main>

<header class="header">
  <div class="header-left">
    <div class="logo-icon">
      <img src="../icons/SHELFWISEICON.png" alt="logo icon" class="logo-icon-img" />
    </div>
    <h2 class="logo-text">ShelfWise</h2>
  </div>

  

  <div class="header-right" id="menu">
    <nav class="nav-links">
      <a href="/" class="reviewe-link">Home</a>
      <a href="/browse-book" class="reviewe-link">Browse Books</a>
      <a href="/top-reviewer" class="reviewe-link">Top Reviewers</a>
       <% if (user !== null) { %>
      <a href="/my-review" class="reviewe-link">My Review</a>
      <a href="/logout" class="reviewe-link">Logout</a>
      <% }%>
    </nav>
     
  </div>
  <div class="logged-in-user">
  <% if (user == null) { %>
      <a class="sign-btn" href="/auth/google" role="button">
        <img src="../icons/googleIcon.png" alt="google icon" class="google-icon" />
      <span>Sign In</span>
    </a>
    <% } else{%>
      <a class="reviewe-link" href="/profile/<%= user.slug %>">
          <img src=<%= user.profile_picture %> alt="avatar" class="avatar" />
       </a>
      <% } %>

      <div class="burger" id="burger">
    ☰
  </div>
  </div>
</header>