<div class="search-bar">
  <img src="/icons/searchIcon.png" alt="search icon" class="search-icon" />
  <input type="text" id="search" placeholder="Search for a book" />
  <div class="search-content" id="search-content"></div>
</div>
