<aside class="sidebar" id="sidebar">
  
  <div class="sidebar-section" data-category="sortBy">
    <h2 class="sidebar-heading">Sort by  <button class="clearFilter" id="clearFilter">clear</button></h2>
    <ul class="sidebar-list">
      <li class="sidebar-item">Title</li>
      <li class="sidebar-item">Newest</li>
      <li class="sidebar-item">Best</li>
    </ul>
  </div>
  <div class="sidebar-section" data-category="bookByGenre">
    <h2 class="sidebar-heading">Book by Genre</h2>
    <ul class="sidebar-list">
      <li class="sidebar-item">All Genre</li>
      <li class="sidebar-item">Business</li>
      <li class="sidebar-item">Science</li>
      <li class="sidebar-item">Fiction</li>
      <li class="sidebar-item">Philosophy</li>
      <li class="sidebar-item">Biography</li>
    </ul>
  </div>
  <div class="sidebar-section" data-category="recommendation">
    <h2 class="sidebar-heading">Recommendation</h2>
    <ul class="sidebar-list">
      <li class="sidebar-item">Artist of the Month</li>
      <li class="sidebar-item">Book of the Year</li>
      <li class="sidebar-item">Top Genre</li>
      <li class="sidebar-item">Trending</li>
    </ul>
  </div>
</aside>