<div class="home-banner">
  <div class="left-home-banner">
    <h1>
      STEP INTO A WORLD OF WORDS WHERE BOOKS TELL STORIES BEYOND PAGES. DISCOVER
      INSIGHTS, UNFILTERED REVIEWS, AND THE MAGIC OF BOOKS!
    </h1>
    <h2>ONE READER’S PERSPECTIVE, ENDLESS STORIES TO EXPLORE.</h2>
    <%- include("partials/search.ejs") %>
  </div>
  <div class="right-home-banner">
    <img src="/banners/homeBanner.png" alt="home banner" class="banner-image" />
  </div>
</div>
<div class="home-book-container">
  <button id="sidebar-toggle" class="sidebar-toggle">
    <img
      src="/icons/filterIcon.png"
      id="filterIcon"
      class="filterIcon"
      alt=" filter icon"
    />
  </button>
  <div class="sidebar-container" id="sidebar-container">
    <%- include("partials/sidebar.ejs") %>
  </div>
  <div id="home-container">
    <%- include("partials/recommended.ejs") %><%- include("partials/latest.ejs")
    %>
    <div class="home-sub-container selected-container">
      <div class="selected-container" id="selected-container"></div>
      <div class="pagination" id="pagination">
        <button id="prev-btn" disabled>Previous</button>
        <div id="page-numbers"></div>
        <button id="next-btn">Next</button>
      </div>
    </div>
  </div>
</div>
