<div class="home-banner">
  <div class="left-home-banner">
    <h1>
      STEP INTO MY WORLD OF WORDS, WHERE EVERY BOOK TELLS A STORY BEYOND THE
      PAGES. DISCOVER PERSONAL INSIGHTS AND UNFILTERED REVIEWS. JOIN ME ON THIS
      JOURNEY THROUGH THE MAGIC OF BOOKS!
    </h1>
    <h2>ONE READER’S PERSPECTIVE, ENDLESS STORIES TO EXPLORE.</h2>
    <%- include("partials/search.ejs") %>
  </div>
  <div class="right-home-banner">
    <img src="/banners/homeBanner.png" alt="home banner" class="banner-image" />
  </div>
</div>
<div>
  <div class="sidebar-container"><%- include("partials/sidebar.ejs") %></div>
  <div id="home-container"><%- include("partials/recommended.ejs") %><%- include("partials/latest.ejs") %></div>
</div>
