.anticipated-container {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  min-height: 60vh;
}
.anticipated-heading {
  font-family: "Charm", cursive;
    font-weight: 200;
    font-style: normal;
    font-size: 4rem;
    font-weight: bold;
    color: #333;
    margin-top: 5rem;
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
    text-align: center;
}

.anticipated-card {
  position: relative;
  width: 200px; 
  height: 300px; 

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.cdn-link {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}


.anticipated-card-details {
  position: relative;
  z-index: 2;
  background-color: rgba(173, 157, 133, 0.5);
    backdrop-filter: blur(1px);
  color: white;
  padding: 0.5rem;
  text-align: center;
  margin-top: auto;
}

.create-anticipated-icon {
  width: 4rem;
  height: 4rem;
  
}
.create-anticipated  {
  background-color: #e0dad1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.create-anticipated:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.anticipated-emoji {
  position: absolute;
  top: -19rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  z-index: 2;
  
  padding: 0.2rem 0.4rem;
 
 
}

.anticipated-popout-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(173, 157, 133, 0.2);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
}
.anticipated-title{
  font-size: 1rem;
  color: #fff;
  margin:0;
  font-family: "Charm", cursive;
  font-weight: lighter;
}
.anticipated-date{
  font-size: 0.6rem;
  color: #fff;
  margin:0;
  font-family: "Overpass", sans-serif;
}
.anticipated-author{
  font-size: 0.6rem;
  color: #fff;
  margin:0;
  font-family: "Overpass", sans-serif;
  font-weight: lighter;
}
.anticipated-popout {
  background-color: #f5f3f0;
  padding: 2rem;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.hidden {
  display: none;
}

.file-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upload-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 12rem;
  height: 100%;
  border: 2px dashed #ddd;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  color: #AD9D85;
  transition: border-color 0.3s ease;
}

.upload-box:hover {
  border-color: #E0DAD1;
}

.upload-box img {
  width: 100%;
height: 100%;
  object-fit: cover;
 
  display: none;
}

.upload-box p {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

.hidden {
  display: none;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Overpass", sans-serif;
}

.form-group>label,.emoji-picker>label {
  margin-bottom: 4px;
  font-size: 1rem;
  color: #333;
  font-family: "Overpass", sans-serif;
}

.form-group input {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
  width: 100%;
  box-sizing: border-box;
}

.form-group input:focus {
  outline: none;
  border-color: #E0DAD1;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}

.emoji-picker {
  position: relative;
}

#emoji-input {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}

#emoji-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 8px;
  z-index: 10;
}

#emoji-container span {
  display: inline-block;
  padding: 8px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

#emoji-container span:hover {
  background-color: #f1f1f1;
}

.anticipated-submit {
  grid-column: span 2;
  padding: 8px 16px;
  background-color: #AD9D85;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}


.pagination {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 5rem;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

#page-numbers > button,
#prev-btn,
#next-btn {
  padding: 8px 15px;
  border: 2px solid #ad9d85;
  border-radius: 5px;
  background-color: white;
  color: #ad9d85;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;
}

#page-numbers > button:hover,
#prev-btn:hover,
#next-btn:hover {
  background-color: #ad9d85;
  color: white;
}

#page-numbers {
  display: flex;
  gap: 5px;
}

#prev-btn,
#next-btn {
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1188px) {
  .anticipated-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 855px) {
  .anticipated-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
    align-items: center;
    justify-content: center;
  }
  .anticipated-card {
    margin: auto;
  }
}

@media (max-width: 646px) {
  .anticipated-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    padding: 0.5rem;
  }
  .anticipated-card {
   height: 15rem;
  width: 10rem;  }

  .anticipated-emoji {
    top: -16.5rem;
  }
  .anticipated-title {
    font-size: 0.8rem;
  }
  .anticipated-author,.anticipated-date  {
    font-size: 0.4rem;
    word-break: break-all;
    white-space: wrap;
  }
  .anticipated-card-details {
    padding: 0.2rem;
  }
}
@media screen and (max-width: 500px) {
  .anticipated-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 0.5rem;
  }
  .anticipated-card {
    height: 15rem;
    width: 10rem;
  }

  .anticipated-emoji {
    top: -16.5rem;
  }
  .anticipated-heading {
    font-size: 2rem;
  }
  .anticipated-author,.anticipated-date  {
    font-size: 0.4rem;
    word-break: break-all;
    white-space: wrap;
  }
  .anticipated-card-details {
    padding: 0.2rem;
  }
  
}
.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5rem;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  margin-bottom: 0.5rem;
  gap: 5px;
}

.page-btn,
.prev-btn,
.next-btn {
  padding: 8px 15px;
  border: 2px solid #ad9d85;
  border-radius: 5px;
  background-color: white;
  color: #ad9d85;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;
}

.activePage{
  background-color: #ad9d85 !important;
  color: white !important;
}