body {
  margin: 0px;
  background-color: #f5f3f0;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#navIcon {
  font-optical-sizing: auto;
  font-style: normal;
  font-size: small;
  font-weight: 400;
  letter-spacing: 0.5rem;
  color: #1f1b14;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  cursor: pointer;
}

nav {
  font-family: "Overpass", sans-serif;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(214, 206, 194, 0.7);
  padding: 0rem 5vw;
  position: fixed;
  top: 0;
  width: 90vw;
  transition: top 0.3s;
  backdrop-filter: blur(2px);
  z-index: 10000000;
}

#menu > li > a {
  text-decoration: none;
  color: #1f1b14;
  font-size: small;
  cursor: pointer;
}

#menu > li > a:hover {
  color: #f5f3f0;
}

#menu {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style: none;
  margin: 5px 0rem;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

footer {
  font-family: "Overpass", sans-serif;
  background-color: #ad9d85;
  color: white;
  text-align: center;
  z-index: 1000;
}

.home-banner {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  position: relative;
}

.right-home-banner {
  /* overflow: hidden; */
  width: 40vw;
  min-height: 40vh;
  position: relative;
  display: flex;
  justify-content: right;
  align-items: center;
  object-fit: cover;
  height: 100%;
}

.left-home-banner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content:space-evenly;
  align-items: center;
  /* gap: 2rem; */
  width: 60vw;
  padding: 1rem;
  z-index: 1000;
  min-height: 40vh;
  position: relative;
  padding:0.5rem 2rem;
  padding-top: 5rem;
  box-sizing: border-box;
}

.left-home-banner >div> h1 {
  position: relative;
  width: 60vw;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.5rem;
  color: #1f1b14;
  text-align: center;
  font-weight: 500;
  box-sizing: border-box;
  padding: 0 1rem;
}

.left-home-banner >div> h2 {
  position: relative;
  width: 60vw;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
  font-size: 0.8rem;
  text-align: center;
  color: #ad9d85;
  box-sizing: border-box;
  padding: 0 1rem;
}

.banner-image {
  /* width: 40vw; */
  min-height: 100%;
  max-height: 40vh;
  width: 40vw;
  /* max-width: 50vw; */
  aspect-ratio: 1;
 object-fit: cover;
 overflow-x: visible;
}
.home-image {
  position: absolute;
  bottom: 0;
  right: 0rem;
  width: 22rem;
  margin-bottom: 0.5rem;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #e0dad1;
  position: relative;
  box-sizing: content-box;
  width: 100%;
}

.search-icon {
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
}

#search {
  border: none;
  outline: none;
  font-size: 1rem;
  flex: 1;
  padding: 0.5rem 0;
  color: #333;
  width: 40vw;
  background-color: #e0dad1;
  font-size: 1.2rem;
}

#search::placeholder {
  color: #aaa;
}


.loader {
  width: 30px;
  aspect-ratio: 1;
  --_c:no-repeat radial-gradient(farthest-side,#AD9D85 92%,#0000);
  background: 
    var(--_c) top,
    var(--_c) left,
    var(--_c) right,
    var(--_c) bottom;
  background-size: 8px 8px;
  animation: l7 1s infinite;
}
@keyframes l7 {to{transform: rotate(.5turn)}}


@media (max-width: 768px) {
  .nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
  }
  .search-content {
    width: 50vw !important;
    padding: 0.2rem 0.5rem !important;
  }
  #menu {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0rem;
    top: 1.5rem;
    background-color: rgba(214, 206, 194, 0.8);
    backdrop-filter: blur(5px);
    width: 100vw;
    text-align: center;
    gap: 0rem;
  }
  #menu > li {
    padding: 0.5rem;
    border-bottom: 1px solid #1f1b14;
  }
  #menu > li :hover {
    background-color: #ad9d85;
  }
  #menu.show {
    display: flex;
  }

  #menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    display: block;
  }

  #open-icon,
  #close-icon {
    font-size: 1.5rem;
  }

  .menuIcon {
    width: 1rem;
    height: 1rem;
    object-fit: contain;
  }

  .menuIcon:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
  }

  .search-bar {
    width: 50vw;
  }

  .search-icon {
    width: 1rem;
    height: 1rem;
    margin-right: 0.1rem;
  }

  #search {
    width: 50vw;
    font-size: 1.2rem;
  }
}
.sidebar-container {
  position: sticky;
  top: 0vh;
  left: 0;
  height: 100vh;
  width: fit-content;
  overflow-y: scroll;
  background-color: #f5f3f0;
  overflow-y: auto;
}

.sidebar {
  position: sticky;
  top: 0vh;
  left: 0;
  padding: 2rem;
  padding-bottom: 5rem;
  margin-bottom: 5rem;
  background-color: #f5f3f0;
  font-family: "Overpass", sans-serif;
}

.sidebar-section {
  margin-bottom: 2rem;
}

.sidebar-heading {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5rem;
  word-break: keep-all;
  white-space: nowrap;
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-item {
  font-size: 1rem;
  padding: 0.5rem 0;
  color: #555;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar-item:hover {
  color: #007bff;
  font-weight: bold;
}

#home-container {
  width: 100%;
  font-family: "Overpass", sans-serif;
}

.home-sub-container {
  border-radius: 0.3rem;
  padding: 2.5rem;
  padding-top: 1rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  margin-bottom: 5rem;
}
.home-sub-container > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
  gap: 2rem;
}
.home-sub-container > h1 {
  margin-left: 2.5rem;
}
.save-button-container,
.post-button-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: start;
  padding-top: 1rem;
}

#save-button,
#post-button {
  border: none;
  background-color: transparent;
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#save-button:hover,
#post-button:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#save-button:active,
#post-button:active {
  transform: scale(0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#save-button > img,
#post-button > img {
  width: 1.5rem;
  height: 1.5rem;
  transition: opacity 0.2s ease;
}

#save-button:hover > img,
#post-button:hover > img {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  opacity: 0.8;
}

.delete-button-container {
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 1rem;
}

#delete-button {
  border: none;
  background-color: transparent;
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#delete-button:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#delete-button:active {
  transform: scale(0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#delete-button > img {
  width: 1.5rem;
  height: 1.5rem;
  transition: opacity 0.2s ease;
}

#delete-button:hover > img {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  opacity: 0.8;
}

.search-content {
  position: absolute;
  background: white;
  z-index: 10000000;
  width: 100%;
 top: 3.5rem ;
  display: none;
}

.search-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #ad9d85;
}

.search-card:hover {
  background-color: #ad9d85;
color: #f5f3f0;
  cursor: pointer;
}
.search-card  > h3 {
  font-family: "Charm", cursive;
  font-size: 0.8rem;
  font-weight: 400;
  white-space: wrap;
  word-break: break-all;
  margin: 0;
  display: inline-block;
}
.search-card > h3 > span {
  font-size: 0.5rem;
  font-weight: lighter;
  margin: 0;
  display: inline-block;
}

.btn-google {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #d8c7b7;
  color: #5c4033;
  font-size: small;
  font-weight: light;
  text-decoration: none;
  border: 1px solid #b6a399;
  border-radius: 5px;
  padding: 8px 8px;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: content-box;
  margin: 0.2rem 0rem;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
}

#menu>li>a {
  word-wrap: normal;
  white-space: nowrap;
}
.btn-google:hover {
  background-color: #f5f3f0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  text-decoration: none;
}

.btn-google:active {
  background-color: #b6a399;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-google i {
  margin-right: 8px;
  font-size: small;
  background: linear-gradient(45deg, #4285f4, #34a853, #fbbc05, #ea4335);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.profileIcon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
}

.profileIcon:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
  filter: invert(1);
}
